:root {
    --text: #0e1011;
    --text5: hsl(200, 10%, 6%, 5%);
    --background: #f0f3f5;
    --primary: #2b4955;
    --primary5: hsl(197, 33%, 25%, 5%);
    --secondary: #88bfd3;
    --accent: #2c83a5;
}
